[submodule "dependencies/Exception"]
	path = dependencies/Exception
	url = https://github.com/je-s/Exception.git
[submodule "dependencies/Logger"]
	path = dependencies/Logger
	url = https://github.com/je-s/Logger.git
[submodule "dependencies/Config"]
	path = dependencies/Config
	url = https://github.com/je-s/Config.git
